---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.astro";
import HeroSection from "../layouts/HeroSection.astro";
import ProjectCarousel from "../components/ProjectCarousel.astro";
import BentoGrid from "../components/BentoGrid.astro";
import "../styles/color.css";
---

<Layout title="Portfolio | Designer & Developpeur Creatif">
	<Navbar />
	<main class="main-content">
		<HeroSection />
		<ProjectCarousel />
		<BentoGrid />
	</main>
</Layout>

<style>
	.main-content {
		min-height: 100vh;
	}
</style>
