---
import "../styles/color.css";
import "../styles/font-size.css";
import Button from "../components/Button.astro";
---

<nav class="navbar">
    <div class="container">
        <div class="navbar-left">
            <h3>TA.</h3>
        </div>
        <div class="navbar-center">
            <h5 class="navbar-center-text">
                <!-- TODO: change fontsize -->
                Je suis <span class="navbar-center-span" id="label-dynamic"
                ></span>
            </h5>
        </div>
        <div class="navbar-right">
            <Button title="Télécharger mon CV" link=""/>
        </div>
    </div>
</nav>

<style>
    .navbar {
        position: sticky;
        top: 0;
        padding: 1rem 2rem;
        z-index: 1000;
        border-bottom: 2px solid var(--black-pure);
        background-color: var(--beige-bg2-light);
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        max-width: 1500px;
        margin: 0 auto;
    }

    .container {
        /* max-width: 2200px; */
    }

    .navbar-center {
        display: none;
    }

    .navbar-center-text {
        font-family: system-ui, sans-serif;
        font-weight: 300;
    }

    .navbar-center-span {
        font-size: var(--text-xl);
        font-weight: 500;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .navbar-right a:hover {
        text-decoration: underline;
    }

    .navbar-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    .navbar-right a {
        text-decoration: none;
        color: var(--blue-4);
    }

    @media (min-width: 768px) {
        .navbar {
            flex-direction: row;
            justify-content: space-between;
        }

        .navbar-left,
        .navbar-right {
            text-align: left;
        }

        .navbar-center {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .container {
            flex-direction: row;
            justify-content: space-between;
        }

        .navbar-center-span {
            font-size: var(--text-2xl);
        }
    }

    @media (min-width: 1024px) {
        .navbar-center-span {
            font-size: var(--text-3xl);
        }
    }

    @media (min-width: 1050px) {
        .navbar-center {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
</style>

<script>
    const labelOptions = [
        "un ingénieur logiciel",
        "spécialisé dans le web",
        "intéressé par le design,",
        "intéressé par l'interactivité,",
        "intéressé par l'UX/UI,",
        "un développeur front-end mais",
        "aussi intéressé par le back-end.",
    ];

    let index = 0;

    function changeText() {
        const textElement = document.getElementById("label-dynamic");
        if (textElement) {
            textElement.style.opacity = "0";

            setTimeout(() => {
                textElement.textContent = labelOptions[index];
                index = (index + 1) % labelOptions.length;

                textElement.style.opacity = "1";
            }, 300);
        }
    }

    changeText();

    setInterval(changeText, 4000);
</script>
