---
import "../styles/color.css";
import "../styles/font-size.css";
---

<nav class="navbar bg-gray2-light">
    <div class="navbar-left">
        <h3>Thibault A.</h3>
    </div>
    <div class="navbar-center">
        <h4 class="navbar-center-text">
            Je suis <span class="navbar-center-span" id="label-dynamic"></span>
        </h4>
    </div>
    <div class="navbar-right">
        <a href="https://www.linkedin.com/in/thibaulta" target="_blank"
            >LinkedIn</a
        >
        <button
            class="btn-cv font-lg"
            onclick="window.location.href='/CV-Thibault.pdf';"
            >Télécharger mon CV</button
        >
    </div>
</nav>

<style>
    .navbar {
        position: sticky;
        top: 0;
        padding: 1rem 2rem;
        z-index: 1000;
        border-bottom: 2px solid var(--black-pure);
        background-color: var(--beige-bg2-light);
        margin: 0 auto;
        position: relative;
        display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-center {
        display: none;
    }

    .navbar-center-text {
        font-family: system-ui, sans-serif;
        font-weight: 300;
    }

    .navbar-center-span {
        font-size: var(--text-2xl);
        font-weight: 500;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .navbar-right a:hover {
        text-decoration: underline;
    }

    .navbar-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    .navbar-right a {
        text-decoration: none;
        color: var(--blue-4);
    }

    .btn-cv {
        background-color: var(--black-rich);
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 20px;
        color: var(--beige-bg1-light);
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }

    .btn-cv:hover {
        background-color: var(--black-hover);
        border-bottom: 3px solid var(--amber-borders-light);
        border-right: 3px solid var(--amber-borders-light);
    }

    @media (min-width: 768px) {
        .navbar {
            flex-direction: row;
            justify-content: space-between;
        }

        .navbar-left,
        .navbar-right {
            text-align: left;
        }

        .navbar-center {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @media (min-width: 1024px) {
        .navbar-center {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
</style>

<script>
    const labelOptions = [
        "Thibault Andriamasinoro,",
        "un développeur front-end,",
        "intéressé par le design, l'interactivité mais aussi",
        "intéressé par le back-end.",
    ];

    let index = 0;

    function changeText() {
        const textElement = document.getElementById("label-dynamic");
        if (textElement) {
            textElement.style.opacity = "0";

            setTimeout(() => {
                textElement.textContent = labelOptions[index];
                index = (index + 1) % labelOptions.length;

                textElement.style.opacity = "1";
            }, 300);
        }
    }

    changeText();

    setInterval(changeText, 4000);
</script>
